<div style="margin-left: 40%; margin-top: 1em;">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="JMBG" aria-label="Search" name="searchValue"
            [(ngModel)]="searchValue">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            (click)="searchDocumentAndMetadata()">Search</button>
    </form>
</div>


<div *ngIf="prikaz === true; then thenBlock"></div>
<ng-template #thenBlock>
    <h1 style="text-align: center;margin-top: 1em;">Users documents:</h1>

    <table class="table table-striped tablePosition">
        <thead class="thead-dark">
            <tr>
                <th scope="col" *ngFor="let coll of columns">{{coll}}</th>
                <!-- <th scope="col">Tekst</th>
            <th scope="col">View</th>
            <th scope="col">HTML</th>
            <th scope="col">PDF</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let temp of tempArr;index as i">
                <td scope="row">
                    {{i}}
                </td>
                <td>{{temp.text}}</td>
                <td><button type="button" class="btn btn-secondary">View</button></td>
                <td><button type="button" class="btn btn-danger">HTML</button></td>
                <td><button type="button" class="btn btn-danger">PDF</button></td>
            </tr>

        </tbody>
    </table>
    <h1 style="text-align: center;margin-top: 2em;">Users metadata:</h1>
    <table class="table table-striped tablePosition">
        <thead class="thead-dark">
            <tr>
                <th scope="col" *ngFor="let coll of metadataColumns">{{coll}}</th>
                <!-- <th scope="col">Tekst</th>
            <th scope="col">View</th>
            <th scope="col">HTML</th>
            <th scope="col">PDF</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let temp of tempArr;index as i">
                <td scope="row">
                    {{i}}
                </td>
                <td>{{temp.text}}</td>
                <!-- <td><button type="button" class="btn btn-secondary">JSON</button></td> -->
                <td><button type="button" class="btn btn-warning">RDF</button>
                </td>
                <td><button type="button" class="btn btn-warning">JSON</button></td>
            </tr>

        </tbody>
    </table>

    <div style="height: 20px;"></div>
</ng-template>